
        <div class="user-header">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
        <div class="user-container mat-elevation-z8">
            <mat-table #table [dataSource]="parentTaskDataSource" matSort>
                        <!-- Progress Column -->
                        <ng-container matColumnDef="title">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Parent Task </mat-header-cell>
                            <mat-cell *matCellDef="let parentTask" (onclick)="modelCellClick()" > {{parentTask.title}} </mat-cell> 
                        </ng-container> 
                                 <!-- ID Column -->
                     <ng-container matColumnDef="parentTaskId" >
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Parent Task Id</mat-header-cell>
                        <mat-cell *matCellDef="let parentTask"> <button class="btn btn-primary"  matInput (click)="modelCellClick(parentTask)" placeholder="Select">Select</button> </mat-cell>
                    </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        <div class="user-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modelOk()">Close</button>
        </div>


