  
   <div class="container">
  
  <h1 class="title">  Project Management  </h1>
  
<nav class="navbar-brand"> 
  
    <a class="navbar-brand" routerLink="/projects" routerLinkActive="active">Add Project</a>
    <a class="navbar-brand" routerLink="/tasks" routerLinkActive="active">Add Task</a>
  <a class="navbar-brand" routerLink="/users" routerLinkActive="active">Add Users</a>
  <a class="navbar-brand" routerLink="/tasks" routerLinkActive="active">View Task</a>
</nav>
</div>
<router-outlet></router-outlet>
