<form [formGroup]="projectForm" class="form-inline" novalidate>
  <div class="container">
    <div class="form-group row">
        <div class="col-sm-3">
        <label class="col-form-label">Project</label>
      </div>
      <div class="col-sm-9">
        <input
          required
          formControlName="projectName"
          #projectName
          type="text"
          class="form-control"
        />
      </div>
    </div>
    <div
      *ngIf="
        projectForm.controls['projectName'].invalid &&
        (projectForm.controls['projectName'].dirty ||
          projectForm.controls['projectName'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="projectForm.controls['projectName'].errors.required">
        Project Name is required.
      </div>
    </div>
    <br />
    <div class="form-group row">
      <div class="col-sm-3">
        <input
          formControlName="dateSelect"
          #dateSelect
          type="checkbox"
          id="dateSelect"
          name="dateSelect"
          checked="true"
          (click)="setDefaultDate()"
        />
        <label for="dateSelect">Set Start and End Date</label>
      </div>

      <!--  <input formControlName="startDate" #startDate type="date" value="2018-07-22" min="2000-01-01" max="2050-12-31">
        <input formControlName="endDate" #endDate type="date" value="2018-07-22" min="2000-01-01" max="2050-12-31"> -->
      <div class="col-sm-9">
        <mat-card>
          <mat-card-title></mat-card-title>
          <mat-card-content>
            <mat-form-field>
              <input
                matInput
                placeholder="Start Date"
                [matDatepicker]="startDate"
                [formControl]="startDateCntl"
              />
              <mat-datepicker-toggle matSuffix [for]="startDate">
              </mat-datepicker-toggle>
              <mat-datepicker [startAt]="startDate" #startDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="End Date"
                [matDatepicker]="endDate"
                [formControl]="endDateCntl"
              />
              <mat-datepicker-toggle matSuffix [for]="endDate">
              </mat-datepicker-toggle>
              <mat-datepicker [startAt]="endDate" #endDate></mat-datepicker>
              <mat-error align="end" *ngIf="endDateCntl.hasError('required')"
                >A valid date mm/dd/yyyy is required</mat-error
              >
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br />
    <div class="input-group row ">
      <div class="col-sm-3">
        <label>Priority (0-30) </label>
      </div>
      <div class="col-sm-6">
        <input
          required
          type="range"
          min="0"
          max="30"
          class="form-control"
          name="priority"
          formControlName="priority"
          #priority
        />
      </div>

      <div
        *ngIf="
          projectForm.controls['priority'].invalid &&
          (projectForm.controls['priority'].dirty ||
            projectForm.controls['priority'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="projectForm.controls['priority'].errors.required">
          Priority is required.
        </div>
      </div>
    </div>
    <div class="input-group row">
      <div class="col-sm-3">
        <label aria-setsize="30">Manager</label>
      </div>

      <div class="col-sm-6">
        <input
          required
          class="form-control"
          type="text"
          formControlName="managerId"
          #managerId
        />
        <div
          *ngIf="
            projectForm.controls['managerId'].invalid &&
            (projectForm.controls['managerId'].dirty ||
              projectForm.controls['managerId'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="projectForm.controls['managerId'].errors.required">
            Manager is required.
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="content.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-light"
              (click)="content.close('Close click')"
            >
              Close
            </button>
          </div>
        </ng-template>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="searchManager(content)"
        >
          Search
        </button>
      </div>
      <div class="input-group" style="text-align:center">
        <button
          type="submit"
       
          class="btn btn-primary"
          (click)="
            addProject(
              projectName.value,
              priority.value,
              managerId.value              
            )
          "
        >
          Add
        </button>
        <button class="btn btn-primary" (click)="reset()">Reset</button>
      </div>
    </div>
    <hr />
  </div>
</form>

<div class="container">
    <div class="input-group row">
        <div class="col-sm-12">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for a project"/>
          </div>
          <br/>
    </div>
    <div class="input-group row">
          <div class="col-sm-2">
            <label>Sort By :    </label>
          </div>
          <div class="col-sm-2">
          <button class="btn btn-primary" (click)="sortByStartDate()">Start Date</button> 
          </div>
          <div class="col-sm-2">
          <button class="btn btn-primary" (click)="sortByEndDate()">End Date</button> 
          </div>
          <div class="col-sm-2">
          <button class="btn btn-primary" (click)="sortByPriority()">Prioirty</button> 
          </div>
          <div class="col-sm-2">
          <button class="btn btn-primary" (click)="sortByCompleted()">Completed</button> 
          </div>
          
  </div>
</div>
<hr/>


<div class="container" *ngFor="let project of projects | filter:searchText">
    <div class="input-group row">
        <div class="col-sm-6">
        <label>Project Name : {{ project.projectName }} </label>
        </div>
        <div class="col-sm-3">
            <label>Priority : {{ project.priority}} </label>
        </div>
    
        <div class="col-sm-3">
        <button class="btn btn-primary" (click)="updateProject(project)">Update</button>
        </div>
        <br />
      </div>
      <div class="input-group row">
          <div class="col-sm-3">
              <label>No of Tasks : {{ project.noOfTasks }}</label>
          </div>
          <div class="col-sm-3">
              <label>Completed : {{ project.completedTasks }}</label>
          </div>
          <div class="col-sm-3">
          </div>
      
          <div class="col-sm-3">
              <button class="btn btn-primary" (click)="suspendProject(project)">Suspend</button>
          </div>
          <br />
        </div>


      <div class="input-group row">
          <div class="col-sm-3">
              <label>Start Date : {{ project.startDate }}</label>
          </div>
          <div class="col-sm-3">
              <label>End Date : {{ project.endDate }}</label>
          </div>
          <div class="col-sm-3">
          </div>
      
          <div class="col-sm-3">
              
          </div>
          <br />
        </div>
  

  
  <br />
  <hr />
</div>

